*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #e6f7f7;
}

header {
    background: linear-gradient(to right, #00bfa6, #00a2ff);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 26px;
    font-weight: bold;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 30%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card.large {
    width: 70%;
}

h3 {
    margin-bottom: 15px;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

textarea {
    resize: none;
    height: 70px;
}

.btn {
    margin-top: 15px;
    width: 100%;
    background: #00bfa6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.top-btns {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.top-btns button {
    flex: 1;
    background: #00bfa6;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}
#eventsList {
    margin-top: 10px;
}

/* EVENT CARD */
.event {
    background: #dab547;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}

.event h4 {
    margin: 0;
}

.date {
    margin: 5px 0;
}

.badge {
    display: inline-block;
    background: #3f51b5;
    color: white;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
    margin-bottom: 5px;
}

.delete-btn {
    position: absolute;
    top: 8px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}   

