*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #e6f7f7;
}

header {
    background: linear-gradient(to right, #00bfa6, #00a2ff);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 26px;
    font-weight: bold;
}

